body {
    font-size: 12px;
    background-image: url(beijing.gif);
}

.outer {
    display: -webkit-box;
    -webkit-box-pack: center;
}

.con {
    height: 2430px;
    width: 710px;
    border-radius: 30px;
    background-color: #ffffff;
}

.head {
    margin-left: 100px;
}

.class1 {
    display: inline-block;
    position: relative;
    left: 200px;
    font-size: 12px;
    color: rgb(255, 0, 155);
}

.class2 {
    margin-left: 27px;
    width: 220px;
    height: 82px;
}

.class3 {
    height: 55px;
}

.class4 {
    border-color: rgb(204, 204, 204);
}

.collapse {
    border-collapse: collapse;
}

.item {
    width: 130px;
    text-align: right;
}

.item1 {
    background-color: #EEEEEE;
    color: #0000ff;
    font-weight: bold;
    height: 35px;
}

.caption {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.font {
    color: #ff0000;
}

.font1 {
    color: #0000ff;
}

.p {
    text-align: center;
    line-height: 17px;
}

.input {
    width: 243px;
}

.select {
    width: 80px;
}

.text {
    width: 441px;
    height: 94px;
}

.button {
    width: 90px;
    height: 20px;
    text-align: center;
}

.footer {
    text-align: center;
}

.text1 {
    color: #808080;
}